<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Centro Médico Galenos</a></li>
    <li class="breadcrumb-item active"><a href="javascript:;">No Encontrado</a></li>
</ol>
<h1 class="page-header"> <i class="fa fa-times"></i> No Encontrado</h1>
<div class="panel panel-primary">
    <div class="panel-heading" style="background: darkcyan;">
          <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          </div>
          <h4 class="panel-title">Houston tenemos un error 404</h4>
    </div>
    <div class="panel-body">
          <div class="row">
              <div class="col-md-12">
                  <p>Vuelve intentar ingresando una URL valida.</p>
              </div>
          </div>
    </div>
</div>