<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Centro Médico Galenos</a></li>
  <li class="breadcrumb-item active"><a href="javascript:;">Personal del Centro Médico</a></li>
</ol>
<h1 class="page-header"> <i class="fa fa-users"></i> Personal del Centro Médico</h1>

<div class="panel panel-primary">
  <div class="panel-heading" style="background: darkcyan;">
        <div class="panel-heading-btn">
              <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
        <h4 class="panel-title">Todos el personal registrado en el sistema</h4>
  </div>
  <div class="panel-body">
        <app-table-personal></app-table-personal>
  </div>
</div>