<div id="page-container">
      <div class="register register-with-news-feed">
            <div class="news-feed">
                  <div class="news-image" style="background-image: url(/assets/img/login-register.jpg)"></div>
                  <div class="news-caption">
                        <h4 class="caption-title"><b>Centro Médico</b> Galenos</h4>
                  </div>
            </div>
            <div class="right-content">
                  <h1 class="register-header">Registrarse</h1>
                  <div class="register-content">
                        <app-form-register></app-form-register>
                        <div class="m-t-20 m-b-40 p-b-40">
                              ¿Ya eres usuario? Haga clic <a routerLink="/"> aquí </a> para iniciar sesión.
                        </div>
                  </div>
            </div>
      </div>
</div>