<div id="page-container">
      <div class="login login-with-news-feed">
            <div class="news-feed">
                  <div class="news-image" style="background-image: url(/assets/img/login-register.jpg)"></div>
                  <div class="news-caption">
                        <h4 class="caption-title"><b>Centro Médico</b> Galenos</h4>
                  </div>
            </div>
            <div class="right-content">
                  <div class="login-header">
                        <div class="brand">
                              <b>Centro Médico</b> Galenos
                        </div>
                        <div class="icon">
                              <i class="fa fa-sign-in"></i>
                        </div>
                  </div>
                  <div class="login-content">
                        <app-form-login></app-form-login>
                        <div class="m-t-20 m-b-40 p-b-40">
                              ¿No eres miembro todavía? Haga clic <a routerLink="register"> aquí </a> para registrarse.
                        </div>
                  </div>
            </div>
      </div>
</div>