<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Centro Médico Galenos</a></li>
  <li class="breadcrumb-item active"><a href="javascript:;">Registro de Pacientes</a></li>
</ol>
<h1 class="page-header"> <i class="fa fa-user-plus"></i> Registro de Pacientes</h1>
<div class="panel panel-primary">
  <div class="panel-heading" style="background: darkcyan;">
        <div class="panel-heading-btn">
              <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
        <h4 class="panel-title">Registra aqui los pacientes</h4>
  </div>
  <div class="panel-body">
        <app-form-register-patient></app-form-register-patient>
  </div>
</div>